flippa_workflow.json
{
  "name": "Flippa Scraper - Complete Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "api_url",
              "value": "https://scrapping-workflow.onrender.com/scrape"
            },
            {
              "name": "max_listings",
              "value": "5"
            },
            {
              "name": "min_price",
              "value": "1000"
            },
            {
              "name": "max_price",
              "value": "50000"
            },
            {
              "name": "category",
              "value": "ecommerce"
            }
          ]
        },
        "options": {}
      },
      "id": "set-parameters",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "position": [440, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://flippa.com/search"
            },
            {
              "name": "max_listings",
              "value": "={{ parseInt($json.max_listings) }}"
            },
            {
              "name": "filters",
              "value": "={{ { min_price: parseInt($json.min_price), max_price: parseInt($json.max_price), category: $json.category } }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "call-scraper-api",
      "name": "Call Scraper API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [640, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Extract listings from API response\nconst response = $input.first().json;\n\nif (!response.success) {\n  throw new Error(`Scraping failed: ${response.error}`);\n}\n\nconst listings = response.listings || [];\n\n// Return each listing as separate item for n8n\nreturn listings.map((listing, index) => ({\n  json: {\n    ...listing,\n    position: index + 1,\n    total_scraped: listings.length\n  }\n}));"
      },
      "id": "process-listings",
      "name": "Process Listings",
      "type": "n8n-nodes-base.code",
      "position": [840, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.title }}",
              "operation": "notEqual",
              "value2": "N/A"
            },
            {
              "value1": "={{ $json.url }}",
              "operation": "notEqual",
              "value2": "N/A"
            }
          ]
        }
      },
      "id": "filter-valid-listings",
      "name": "Filter Valid Listings",
      "type": "n8n-nodes-base.filter",
      "position": [1040, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KZxe6U35a-11CfCobJMjTG3VSitI7Gh3VZNQwN-OKNQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "url": "={{ $json.url }}",
            "price": "={{ $json.price }}",
            "type": "={{ $json.type }}",
            "industry": "={{ $json.industry }}",
            "monetization": "={{ $json.monetization }}",
            "site_age": "={{ $json.site_age }}",
            "net_profit": "={{ $json.net_profit }}",
            "country": "={{ $json.country }}",
            "listing_id": "={{ $json.listing_id }}",
            "revenue": "={{ $json.revenue }}",
            "profit": "={{ $json.profit }}",
            "category": "={{ $json.category }}",
            "description": "={{ $json.description }}",
            "image_url": "={{ $json.image_url }}",
            "scraped_at": "={{ $json.scraped_at }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "listing_id"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "monetization",
              "displayName": "monetization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "site_age",
              "displayName": "site_age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "net_profit",
              "displayName": "net_profit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "listing_id",
              "displayName": "listing_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "revenue",
              "displayName": "revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profit",
              "displayName": "profit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scraped_at",
              "displayName": "scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "save-to-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [1240, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "8253068809",
        "text": "=🎉 Flippa Scraper Complete!\n📊 Total Listings: {{ $('Process Listings').all().length }}\n✅ Valid Listings: {{ $runIndex + 1 }}\n🔗 Latest: {{ $json.title }}\n💰 Price: {{ $json.price }}\n🏢 Type: {{ $json.type }}\n🌍 Country: {{ $json.country }}\n💵 Net Profit: {{ $json.net_profit }}\n📅 {{ $now.format('YYYY-MM-DD HH:mm') }}",
        "additionalFields": {}
      },
      "id": "notify-telegram",
      "name": "Notify via Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [1240, 500],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "recipient@example.com",
        "subject": "Flippa Scraping Report - {{ $now.format('YYYY-MM-DD') }}",
        "emailType": "html",
        "message": "=<h2>Flippa Scraping Complete</h2>\n<p><strong>Total Listings Found:</strong> {{ $('Process Listings').all().length }}</p>\n<p><strong>Time:</strong> {{ $now.format('YYYY-MM-DD HH:mm:ss') }}</p>\n<h3>Latest Listings:</h3>\n<ul>\n{{ $('Filter Valid Listings').all().slice(0, 5).map(item => `<li><strong>${item.json.title}</strong><br/>💰 Price: ${item.json.price} | 🏢 Type: ${item.json.type} | 🌍 Country: ${item.json.country}<br/>💵 Net Profit: ${item.json.net_profit}<br/><a href=\"${item.json.url}\">View Listing</a></li>`).join('\\n') }}\n</ul>",
        "options": {}
      },
      "id": "email-report",
      "name": "Email Report",
      "type": "n8n-nodes-base.gmail",
      "position": [1440, 500],
      "typeVersion": 2.1
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Call Scraper API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Scraper API": {
      "main": [
        [
          {
            "node": "Process Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Listings": {
      "main": [
        [
          {
            "node": "Filter Valid Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Listings": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}